@import "../utilities/base.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100vh;
	color: $font-color;
	background: $background-color;
	overflow: auto;
	font-family: "Poppins", sans-serif;
	@include scrollbars($scrollbar-size, $title-font-color, $background-color);
}

a {
}
li {
}
