@import "@/utilities/base.scss";


.container{
    margin: 20px;
    border: 2px solid $border-color;
    border-radius: 5px;
    height: 90%;
    overflow: auto;
    @include scrollbars($scrollbar-size, $title-font-color, $background-color);
}

